<div class="input-group">
    <input type="text" class="form-control "  autofocus required="true" value="<%=item.get('tag')%>"  data-id="<%=id%>" name="update_tag">
    <select name="type" class="form-control" data-id="<%=id%>">
          <option value="0">Type</option>
          <%_.each(tag_type,function(tag){%>
          <option value="<%=tag.value%>" <%= (item.get('tag_type') == tag.value)? 'selected':''%>><%=tag.tag_type%></option>
          <%})%>
        </select>
    <span class="input-group-btn"> <button class="btn btn-success js-tag-update" data-id="<%=id%>"  type="button">Update</button>
   </span>
 </div>
