<div class="row" id="<%= markup_row %>">
  <div class="row">
    <input type="hidden" name="<%= markup_to_delete %>" id="<%= markup_to_delete %>" value="false">
    <input type="hidden" name="<%= markup_id %>" id="<%= markup_id %>" value="<%= id %>">
    <div class="form-group">
      <div class="col-xs-1 visible-xs"></div>
      <label for="<%= markup_name %>" class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">Name</label>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <input type="text" name="<%= markup_name %>" class="form-control input-sm" id="<%= markup_id %>" placeholder="<%= markup_placeholder %>" value="<%= name %>" autocomplete="off">
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <a class="btn btn-danger btn-sm additional_info_delete hidden-xs" data-info="<%= markup_delete %>" data-index="<%= i %>"><i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-xs-1 visible-xs"></div>
      <label for="<%= markup_locality %>" class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">Locality</label>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <input type="text" name="<%= markup_locality %>" class="form-control input-sm" id="<%= markup_id %>" placeholder="Locality" value="<%= locality %>" autocomplete="off">
      </div>
    </div>
  </div>
</div>
<br>