<% if (edit_mode) { %>
  <select multiple class="form-control default-select2 input-sm item_choices listen_change" id="item_choices_<%= i %>_<%= j %>" data-field="choices">
    <% _.each(choices_list, function(choice) {  %>
      <option value="<%= choice.get('id') %>" <% if (_.contains(choices, choice.get('id'))) { %> selected <% } %>><%= choice.get('label') %></option>
    <% }) %>
  </select>
<% } else { %>
  <ul>
    <% _.each(choices, function(choice) { %>
      <li value="<%= choice %>" ><%= map[choice] %></li>
    <% }) %>
  </ul>
<% } %>