<tr class="delivery_area" data-locality="<%= (deliveryArea.get("locality_group_id_delivery_type") == undefined) ? "" : deliveryArea.get("locality_group_id_delivery_type").locality_group_id %>">
	<td>
	  	<input type="hidden" name="locality_<%= i %>" value="<%= deliveryArea.get("id") %>">
	  	<input type="hidden" name="delete_<%= i %>" value="false">

	    <select name="locality_group_id_<%= i %>" id="locality_id_<%= i %>"  class="locality_select" >
	    	<option value="" selected="selected"></option>
		    <% _.each(localities, function(locality, j) { %>
		    	<option <%if (locality.id == ((deliveryArea.get("locality_group_id_delivery_type") == undefined) ? "" : deliveryArea.get("locality_group_id_delivery_type").locality_group_id)) { %>selected="selected" <% } %> value="<%= locality.id %>"><%= locality.name %></option>
		    <% }) %>
	    </select>
	</td>	

	<td>
		<input type="text" class="delivery_time_input input-sm form-control" name="min_delivery_amount_<%= i %>" value="<%= deliveryArea.get("min_delivery_amount") %>" required>
	</td>

	<td>
		<input type="text" class="delivery_time_input form-control input-sm" name="delivery_charges_<%= i %>" value="<%= deliveryArea.get("delivery_charges") %>" required>
	</td>

	<td>
		<input type="text" class="delivery_time_input input-sm form-control" name="delivery_time_<%= i %>" value="<%= to_mins(deliveryArea.get("delivery_time")) %>" required>
	</td>

	<td>
		<input type="text" class="delivery_time_input input-sm form-control" name="rush_hour_delivery_time_<%= i %>" value="<%= to_mins(deliveryArea.get("rush_hour_delivery_time")) %>" required>
	</td>
  <td class="hidden-xs">
  	<input type="checkbox" name="delivery_type_<%= i %>" id="delivery_type_id_<%= i %>" class="delivery_type_select" <% if(deliveryArea.get("delivery_type") == 2){%> <%="checked"%><% } %>>
		<button type="button" id="<%= deliveryArea.get("id") %>" class="btn btn-danger btn-sm delete_this_locality delete" data-index="<%= i %>"><i class="fa fa-trash fa-lg"></i></button>
	</td>
</tr>

<input type="hidden" name="key_<%= i %>" value="<%= deliveryArea.get("key") %>">
<input type="hidden" id="timing_count_<%= i %>" name="timing_count_<%= i %>" value="<%= (deliveryArea.get("timings") != undefined) ? deliveryArea.get("timings").length : 0 %>">

<% _.each(deliveryArea.get("timings"), function(timing, j) { %>
	<%= partial("partials_delivery_timings", {
		i: i,
		j: j,
		id: timing["_id"],
		start_time: get_delivery_time(timing["start"]),
		end_time: get_delivery_time(timing["end"])
	}) %>
<% }) %>

<tr id="add_timing_<%= i %>">
	<td></td>
	<td><button type="button" class="btn btn-info btn-sm add_timing" data-index="<%= i %>">Add Timing</button></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>