<% _.each(data,function(p_tag,i) {%>
  <div class="row next-level" style="margin-bottom:10px;">
    <div class="col-sm-2 ">
      <button type="submit" class="btn btn-info" id="primary_tags_<%= i %>" style="background-color:#59ace2;border-color:white"><%= p_tag %></button>
    </div>
    <div class="col-sm-9">
      <select name="s_tags" class="secondary_tags" id="secondary_tags_<%= i %>" data-index="<%= i %>" multiple="multiple">
        <% _.each(_.pairs(l2_tags[p_tag]),function(l2){ %>
        
          <option value="<%= l2[0] %>" <% if(category[p_tag] && (category[p_tag].indexOf(l2[0]) > -1)){ %> selected <%} %> ><%= l2[0] %></option>
        <% }) %>
      </select>
    </div>
  </div>
<% }) %>

