<div class="row" id="price_row_<%= i %>_<%= j %>_<%= k %>">
  <input type="hidden" id="price_id_<%= i %>_<%= j %>_<%= k %>" value="<%= id %>">
  <div class="col-xs-1"><label>Price</label></div>
  <div class="col-xs-4">
    <% if (edit_mode) { %>
      <input class="form-control input-sm item_price listen_change" id="item_price_<%= i %>_<%= j %>_<%= k %>" type="text" value="<%= price %>" data-field="price">
    <% } else { %>
      <p><%= price %></p>
    <% } %>
  </div>

  <div class="col-xs-1"><label>Timing</label></div>
  <div class="col-xs-4">
    <% if (edit_mode) { %>
      <select class="form-control input-sm item_timings listen_change" id="item_timings_<%= i %>_<%= j %>_<%= k %>" data-field="timing_id">
        <option value="ALL">FOR ALL</option>
        <% _.each(timings_list, function(timing) { %>
          <option value="<%= timing.get('id') %>" <% if (timing_id == timing.get('id')) { %> selected <% } %>><%= timing.get('name') %></option>
        <% }) %>
      </select>
    <% } else { %>
      <p><%= map[timing_id] %></p>
    <% } %>
  </div>

  <div class="col-xs-2">
    <% if (edit_mode) { %>
      <a class="btn btn-danger btn-sm delete_price" id="delete_price_<%= i %>_<%= j %>_<%= k %>" data-index="<%= i %>_<%= j %>_<%= k %>"><i class="fa fa-trash-o"></i></i></a>
    <% } %>
  </div>
  <br><br>
</div>