<div class="col-xs-12 tile size_tile" id="size_tile_<%= i %>_<%= j %>" data-index="<%= i %>_<%= j %>">
<input type="hidden" id="size_id_<%= i %>_<%= j %>" value="<%= size_id %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-1"><label>Size:</label></div>
        <div class="col-xs-4">
          <% if (edit_mode) { %>
            <select class="form-control default-select2 item_size editing listen_change" id="item_size_<%= i %>_<%= j %>" name="sizes" data-id="<%= size_id %>" data-field="size">
              <% _.each(window.collections.size_lists, function(value, key) { %>
                <option value="<%= value %>" <% if (size_name == value) { %> selected <% } %>><%= key %></option>
              <% }); %>
            </select>
          <% } else { %>
            <p><%= map[size_name] %></p>
          <% } %>
        </div>
        <div class="col-xs-1"><label>Choices:</label></div>
        <div class="col-xs-4">
          <%= partial('partials_choice_select', {
            i: i,
            j: j,
            size_id: size_id,
            choices: choices,
            choices_list: choices_list,
            map: map,
            edit_mode: edit_mode,
          }) %>
        </div>
        <div class="col-xs-2">
          <% if (edit_mode) { %>
            <button class="btn btn-success btn-sm pull-right add_price" id="add_price_<%= i %>_<%= j %>" data-index="<%= i %>_<%= j %>"><i class="fa fa-plus-square"></i> Price</button>
            <a class="btn btn-danger btn-sm pull-right delete_size" id="delete_size_<%= i %>_<%= j %>" data-index="<%= i %>_<%= j %>"><i class="fa fa-trash-o"></i></i></a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12" id="listing_prices_<%= i %>_<%= j %>">
        <input type="hidden" id="price_count_<%= i %>_<%= j %>" value="<%= (_.isEmpty(prices.models)) ? 0 : prices.models.length %>">
          <% _.each(prices.models, function (price, k) { %>
            <%= partial('partials_item_price', {
              i: i,
              j: j,
              k: k,
              id: price.get('id'),
              price: price.get('price'),
              timing_id: price.get('timing_id'),
              timings_list: timings_list,
              map: map,
              edit_mode: edit_mode
            }) %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>