<div class="row item_row <% if (!edit_mode) { %> in_display_mode <% } %>" id="item_row_<%= i %>" data-index="<%= i %>" data-item="<%= id %>">
<input type="hidden" id="item_id_<%= i %>" value="<%= id %>">
  <div class="col-xs-4 tile">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-1 pull-left"><strong id="sr_num_<%= i %>"><%= sr_num %></strong></div>
          <div class="col-xs-7">
            <% if (edit_mode) { %>
              <input class="form-control input-sm col-xs-12 item_name listen_change" id="item_name_<%= i %>" placeholder="Item name" type="text" value="<%= (name) ? name : '' %>" data-field="name">
            <% } else { %>
              <p><%= (name) ? name : '' %></p>
            <% } %>
          </div>

          <div class="col-xs-4">
            <% if (edit_mode) { %>
              <button class="btn btn-info btn-sm pull-right add_size" id="add_size_<%= i %>" data-index="<%= i %>"><i class="fa fa-plus-square"></i> Size</button>
              <a class="btn btn-danger btn-sm pull-right delete_item" id="delete_item_<%= i %>" data-index="<%= i %>"><i class="fa fa-trash-o"></i></a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-9">
            <% if (edit_mode) { %>
              <textarea rows="3" cols="100" style="resize: none;" class="form-control input-sm col-xs-5 item_description listen_change" placeholder="Description" id="item_description_<%= i %>" data-field="description"><%= (description) ? description : '' %></textarea>
            <% } else { %>
              <p><%= (description) ? description : '' %></p>
            <% } %>
          </div>
          <div class="col-xs-3">
            <% if (edit_mode) { %>
              <h6>
                <input type="checkbox" class="item_aps listen_change" id="item_aps_<%= i %>" data-field="is_item_price_variable" <% if (is_item_price_variable) { %> checked <% } %>> APS/APC?
              </h6>
            <% } else if (is_item_price_variable) { %>
              <h6>APC/APS</h6>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-8" id="listing_sizes_<%= i %>">
    <input type="hidden" id="size_count_<%= i %>" value="<%= (_.isEmpty(sizes)) ? 0 : sizes.models.length %>">
    <% _.each(sizes.models, function (size, j) { %>
      <%= partial('partials_item_size', {
        i: i,
        j: j,
        size_name: size.get('size'),
        size_id: size.get('id'),
        choices: size.get('choices'),
        prices: size.get('prices'),
        choices_list: choices_list,
        timings_list: timings_list,
        map: map,
        edit_mode: edit_mode
      }) %>
    <% }) %>
  </div>
</div>