<div class="partial_box">

	<h4 class="to_center"><%= H.makeTitle(whois) %></h4>

	<hr>

	<input type="hidden" name="<%= whois %>_id" value="<%= options ? options._id : "new" %>">

	<div class="form-group">
		<div class="col-xs-1 visible-xs"></div>
		<label for="<%= whois %>_name" class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">Name</label>
		<div class="col-md-6 col-sm-6 col-xs-6">
		  <input type="text" class="form-control input-sm" name="<%= whois %>_name" id="<%= whois %>_name" placeholder="Name of the <%= H.makeTitle(whois) %>" value="<%= options ? options.name : "" %>">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-1 visible-xs"></div>
		<label for="<%= whois %>_email" class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">Email</label>
		<div class="col-md-6 col-sm-6 col-xs-6">
		  <input type="email" class="form-control input-sm" name="<%= whois %>_email" id="<%= whois %>_email" placeholder="Email of the <%= H.makeTitle(whois) %>" value="<%= options ? options.email : "" %>">
		</div>
	</div>

	<input type="hidden" name="<%= whois %>_contact_numbers_count" value="<%= options.contact_numbers.length %>">

	<% _.each(options.contact_numbers, function(contact_number, i) { %>
		<%= partial('partials_contactNumber', {
			id: contact_number._id,
			markup_hidden_name: whois + "_contact_numbers_attributes_" + i + "_id",
			markup_hidden_index: whois + "_contact_numbers_attributes_" + i,
			markup_select_name: whois + "_contact_numbers_attributes_" + i + "_number_type",
			markup_input_name: whois + "_contact_numbers_attributes_" + i + "_number",
			markup_to_delete: whois + "_contact_numbers_attributes_" + i + "_delete",
			i: i,
			number: contact_number.number,
			contact_number_types: contact_number_types,
			number_type: contact_number.number_type
		}) %>
	<% }) %>

	<button type="button" class="btn btn-info btn-sm add_new_btn" data-whois="<%= whois %>">Add new Phone Number</button>

</div>
