<% _.each(_.pairs(data),function(parent){ %>
  <div class="label label-primary primary_level_tags"id="<%= parent[0] %>">
    <%= parent[0] %> <br/>
    <% if (parent[1] != null){ %>
      <% if(parent[1].length == 1) {%>
        <% _.each(parent[1],function(child){ %> 
          <div class="badge col-lg-12 second_level_tags"><%= child %></div>
        <% }) %>
      <% } else if(parent[1].length == 2){ %>
        <% _.each(parent[1],function(child){ %> 
          <div class="badge col-lg-6 second_level_tags"><%= child %></div>
        <% }) %>
      <% }else { %>
        <% _.each(parent[1],function(child){ %> 
          <div class="badge col-lg-4 second_level_tags"><%= child %></div>
        <% }) %>
      <% } %>
    <% } %>
  </div>
<% }) %>