<!-- sidebar -->
<% var roles = _.collect(window.user.get_roles(), function(x){ return x['name'] });
  var user_type;
  if(_.contains(roles, "Outsource Data Entry Agent")){ 
    user_type="outsource";
  } 
  else if(_.contains(roles, "Outsource Data Entry Head")){
    user_type="outsource";
  }
  else{
    user_type="restaurants";
  }
%> 

<div id="sidebar" class="nav-collapse">
  <div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
      <li class="<%if(sidebar_active_tab == 'profile'){%><%='active'%><%}%>">
        <a href="#restaurants/<%= id %>/profile">Profile
        <span class="shortcut small text-muted pull-right hidden-xs" style="padding-right:10px">Ctrl&nbsp;+&nbsp;p</span>
        </a>
      </li>
      <li class="<%if(sidebar_active_tab == 'timings'){%><%='active'%><%}%>">
        <a href="#restaurants/<%= id %>/timings">Timings
        <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;m</span>
        </a>
      </li>
      <% if(user_type != "outsource"){ %>
      <li class="<%if(sidebar_active_tab == 'delivery_area'){%><%='active'%><%}%>">
        <a href="#restaurants/<%= id %>/deliveryArea">Delivery Areas
        <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;d</span>
        </a>
      </li>
      <% } %>
      <% if(user_type != "outsource"){ %>
        <li class="<%if(sidebar_active_tab == 'office_document'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id %>/office_document">Office Document
          <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;o</span>
          </a>
        </li>
      <% } %>        
      <% if(user_type != "outsource"){ %>
        <li class="<%if(sidebar_active_tab == 'account_details'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id %>/account_details">Account
          <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;q</span>
          </a>
        </li>
        <li class="<%if(sidebar_active_tab == 'miscellaneous'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id %>/miscellaneous">Miscellaneous
          <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;k</span>
          </a>
        </li>
        <li class="<%if(sidebar_active_tab == 'documents'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id %>/documents">Logo & Documents
          <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;i</span>
          </a>
        </li> 
        <li class="<%if(sidebar_active_tab == 'point_of_sale'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id %>/point_of_sale">Point of Sale
          <!-- <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;i</span> -->
          </a>
        </li>
        <li class="<%if(sidebar_active_tab == 'fulfilment'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id%>/fulfilment">Fulfilment
          <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;f</span>
          </a>
        </li>
        <li class="<%if(sidebar_active_tab == 'campaign_tags'){%><%='active'%><%}%>">
          <a href="#restaurants/<%= id%>/campaign_tags">Campaign
          <span class="shortcut small text-muted pull-right hidden-xs">Ctrl&nbsp;+&nbsp;r</span>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</div>

