<tr>
  <input type="hidden" name="timing_<%= i %>" value="<%= timing.id %>">

  <input type="hidden" name="delete_<%= i %>" value="false">
  <td>
    <input type="text" class="form-control input-sm" name="timing_name_<%= i %>" id="timing_name_<%= i %>" value="<%=timing.get("name")%>" placeholder="Name" required>
  </td>
  <td>
    <select name="timing_type_<%= i %>" id="timing_type_<%= i %>" class="timing_type_select" >
        <% _.each(window.collections.timing_type, function(key, value) { %>
          <option <% if (key == timing.get("timing_type")) { %>selected="selected"<% } %> value="<%= key %>"><%= value %></option>
        <% }) %>
      </select>
  </td>

  <td>
    <input type="text" class="form-control input-sm timing_start_input" name="timing_start_<%= i %>" id="timing_start_<%= i %>" placeholder="Start" value="<%= timing.get("start_str") %>" data-i="<%= i %>" required>
  </td>
  <td>
    <input type="text" class="form-control input-sm timing_end_input" name="timing_end_<%= i %>" id="timing_end_<%= i %>" placeholder="End" value="<%= timing.get("end_str") %>" data-i="<%= i %>" required>
  </td>
  <td>
    <button type="button" class="btn btn-danger btn-sm delete_timing" data-index="<%= i %>" data-type="<%= timing.get("timing_type") %>"><i class="fa fa-times"></i></button>
  </td>
</tr>