<div id="top_navigation"></div>
<div class="row main_page">
	<div class="col-xs-12">
		<div class="panel">
			<div class="panel-body">
				<section id="alerts"></section>
				<h3 class="to_left">Choices for <%= restaurant_name %></h3>
				<hr/>
				<input type="hidden" id="restaurant_id" value="<%= restaurant_id %>">

				<div class="listing_choices">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-3"><label>Sr. No</label></div>
                <div class="col-xs-3">
                  <label>Choice</label>
                </div>
                <div class="col-xs-3">
                  <label>Actions</label>
                </div>
                <div class="col-xs-2">
                <label>Options</label>
                </div>
              </div>
            </div>
          </div>
          <hr>
					<input type="hidden" id="last_choice_index" value="<%= (_.isEmpty(choices)) ? 0 : choices.length %>">

					<% $.each(choices, function (i, choice) { %>
						<%= partial("partials_choice_entry", {
							id: choice.get('id'),
							sr_num: (i + 1),
							name: choice.get('name'),
							label: choice.get('label'),
							label_for_restaurant: choice.get('label_for_restaurant'),
							min: choice.get('min'),
							max: choice.get('max'),
							description: choice.get('description'),
							options: choice.get('options').models,
							defaults: choice.get('defaults'),
							i: i
						}) %>
					<% }) %>
				</div>

				<div class="pull-right">
          <div style="position: fixed; bottom: 300px; right: 50px;">
						<a class="btn btn-primary col-xs-12 btn-sm add_choice"><i class="fa fa-plus"></i></a>
						<br>
						<a class="btn btn-primary col-xs-12 btn-sm save"><i class="fa fa-floppy-o"></i></a>
						<br>
						<a class="btn btn-primary col-xs-12 label-sm total_choices"><badge id="total_choices"><%= (_.isEmpty(choices)) ? 0 : choices.length %></badge></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>