<div id="top_navigation"></div>
<div class="row main_page">
  <div class="col-xs-12">
    <div class="tile">
      <div class="panel">
        <div class="panel-header">
          <section id="alerts"></section>
        </div>
        <div class="panel-body">
          <div class="row">
            <h3 class="to_center">Items for <%= restaurant_name %></h3>
          </div>
          <hr/>
          <input type="hidden" id="restaurant_id" value="<%= restaurant_id %>">
          <div class="row">
            <div class="col-xs-4">
              <!-- <ul>
                <li>Ctrl + A : Add Item</li>
                <li>Ctrl + S : Save</li>
              </ul> -->
            </div>
            <div class="col-xs-4 to_center"><p>Click on items to edit...</p></div>
            <div class="col-xs-4 to_center">
              <a class="btn btn-primary btn-sm add_item"><i class="fa fa-plus"></i> Add Item</a>
              <a class="btn btn-primary btn-sm save_items"><i class="fa fa-floppy-o"></i> Save</a>
              <a class="btn btn-primary label-sm total_items"><badge id="total_items"><%= (_.isEmpty(items)) ? 0 : items.length %></badge></a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-4">
              <label>Item name | Description</label>
            </div>
            <div class="col-xs-offset-3 col-xs-4">
              <label>Details</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="listing_items">
    <input type="hidden" id="item_count" value="<%= (_.isEmpty(items)) ? 0 : items.length %>">
    <% _.each(items, function (item, i) { %>
      <div id="listing_item_<%= i %>">
        <%= partial('partials_item', {
          i: i,
          sr_num: (i + 1),
          id: item.get('id'),
          name: item.get('name'),
          description: item.get('description'),
          sizes: item.get('sizes'),
          choices_list: choices_list,
          timings_list: timings_list,
          map: map,
          is_item_price_variable: item.get('is_item_price_variable'),
          edit_mode: false,
        }) %>
      </div>
    <% }) %>
  </div>

  <div class="pull-right">
    <div style="position: fixed; bottom: 300px; right: 834px;">
      <a class="btn btn-primary col-xs-12 btn-sm add_item"><i class="fa fa-plus"></i></a>
      <br>
      <a class="btn btn-primary col-xs-12 btn-sm save_items"><i class="fa fa-floppy-o"></i></a>
      <br>
    </div>
  </div>
</div>