<div id="top_navigation">
</div>

<div class="row">
  <!-- form component -->
  <div class="col-xs-12">

    <div class="panel">
      <div class="panel-body">
      <section id="alerts"></section> 
      <h2 class="to_center">Edit: Account Details</h2>
      <hr>
      <div class="row">
        <form accept-charset="UTF-8" class="form-horizontal" id="account_details_form" method="post" enctype="multipart/form-data">
          <input type="hidden" value="<%= account_details.get('id') %>" name="id">  
       	  					  
          	<div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
	            <label for="payment_settlement_period" class="col-md-4 col-xs-4 control-label">Payment Settlement Period</label>
	            <div class="col-md-8 col-sm-8 col-xs-6">
		            <select name="payment_settlement_period" class="form-inline-element input-sm" id="payment_settlement_period">
                  <option value="-1" selected>none</option>
			            <% _.each(window.collections.time_period, function(i,period) {%>
			              <option value="<%= i %>" <% if(account_details.get("payment_settlement_period") == i){%><%="selected"%><%  } %> > <%= period%></option>
			            <% }) %>
		            </select>
	            </div>
	          </div>
	          <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
	            <label for="payment_settlement_type" class="col-md-4 col-xs-4 control-label">Payment Settlement Mode</label>
	            <div class="col-md-8 col-sm-8 col-xs-6">
		            <select name="payment_settlement_type" class="form-inline-element input-sm" id="payment_settlement_type">
                <option value="-1" selected>none</option>
			            <% _.each(window.collections.payment_settlement_type, function(i,type,mapping) {%>
			              <option value="<%= i %>" <% if(account_details.get("payment_settlement_type") == i){%><%="selected"%><%  } %> > <%= type %></option>
			            <% }) %>
		            </select>
	            </div>
	          </div>
	          <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
	            <label for="payment_settlement_weekday" class="col-md-4 col-xs-4 control-label">Payment Settlement Day</label>
	            <div class="col-md-8 col-sm-8 col-xs-6">
	            <select name="payment_settlement_weekday" class="form-inline-element input-sm" id="payment_settlement_weekday">
                <option value="-1" selected>none</option>
	            <% _.each(window.collections.week_days, function(i,weekday) { %>
	              <option value="<%= i %>" <% if(account_details.get("payment_settlement_weekday") == i){%><%="selected"%><%  } %> ><%= weekday %></option>
	            <% }) %>
	            </select>
	            </div>
	          </div>
            <hr/>
            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label class="col-sm-4 control-label col-xs-4" for="permission_for_offers">Permission for Offers from TinyOwl</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="permission_for_offers" <% if(account_details.get("permission_for_offers")){%> <%="checked"%><% } %>>                          
                      </label>
                  </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label class="col-sm-4 control-label col-xs-4" for="permission_for_weekly_settlement_of_offers">Permission for Weekly Settlement of Offers</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="permission_for_weekly_settlement_of_offers" <% if(account_details.get("permission_for_weekly_settlement_of_offers")){%> <%="checked"%><% } %>>                          
                      </label>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label class="col-sm-4 control-label col-xs-4" for="permission_for_weekly_settlement_of_card_payments">Permission for Weekly Settlement of Card Payments</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="permission_for_weekly_settlement_of_card_payments" <% if(account_details.get("permission_for_weekly_settlement_of_card_payments")){%> <%="checked"%><% } %>>                          
                      </label>
                  </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label class="control-label col-md-4 col-sm-4 col-xs-4" for="online_payment">Accepts card payment?</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="online_payment" <% if(account_details.get("online_payment")){%> <%="checked"%><% } %>>                          
                      </label>
                  </div>
              </div>
            </div> 
            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label class="control-label col-md-4 col-sm-4 col-xs-4" for="payment_modes">User Payment Modes</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                 <select name="payment_modes" required="true" id="payment_modes" multiple>
                  <% _.chain(window.collections.payment_mode).pairs().each(function(mode){ %>
                  <option value="<%=mode[1]%>"><%=mode[0]%></option>
                  <% }) %>
                  </select>
              </div>
            </div>

            <hr/>
	          <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
	            <label for="bank_id" class="col-md-4 col-sm-4 col-xs-4 control-label">Bank Name</label>
	            <div class="col-md-6 col-sm-6 col-xs-6">
	            <select name="bank_id" class="form-inline-element input-sm" id="bank_id">
                <option value="-1" selected>none</option>
	            <% _.each(window.collections.bank, function(banks) { %>
	              <option value="<%= banks[1] %>" <% if(account_details.get("bank_account").bank_id == banks[1]){%><%="selected"%><%  } %> ><%= banks[0] %></option>
	            <% }) %>
	            </select>
	            </div>
	          </div>
            <%= partial('partials_markupText', {
              id: "branch",
              placeholder: "Branch Name",
              label: "Branch Name",
              name: "branch",
              value: account_details.get("bank_account").branch ? account_details.get("bank_account").branch : "",
              required: false            
            }) %>

            
	          <%= partial('partials_markupText', {
	            id: "account_name",
	            placeholder: "Account Name",
	            label: "Account Name",
	            name: "account_name",
	            value: account_details.get("bank_account").account_name ? account_details.get("bank_account").account_name : "",
	            required: false	           
	          }) %>
	          <%= partial('partials_markupText', {
	            id: "account_number",
	            placeholder: "Account Number",
	            label: "Account Number",
	            name: "account_number",
	            value: account_details.get("bank_account").account_number ? account_details.get("bank_account").account_number : "",
	            required: false	           
	          }) %>
	          <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label for="account_type" class="col-md-4 col-xs-4 control-label">Account Type</label>
              <div class="col-md-8 col-sm-8 col-xs-6">
              <select name="account_type" class="form-inline-element input-sm" id="account_type">
                <option value="" selected>none</option>
                <option value="CURRENT" <% if(account_details.get("bank_account").account_type == "CURRENT"){ %> selected <% } %>> CURRENT </option>
                <option value="SAVINGS" <% if(account_details.get("bank_account").account_type == "SAVINGS"){ %> selected <% } %>> SAVINGS </option>
              </select>
              </div>
            </div>

	          <%= partial('partials_markupText', {
	            id: "ifsc",
	            placeholder: "IFSC Code",
	            label: "IFSC Code",
	            name: "ifsc",
	            value: account_details.get("bank_account").ifsc ? account_details.get("bank_account").ifsc : "",
	            required: false,
              pattern : ".{11}",
              title : "Should be 11 digit alphanumeric"         
	          }) %> 
            
            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label class="col-sm-4 control-label col-xs-4" for="verified">Verified?</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="verified" <% if(account_details.get("bank_account").verified){%> <%="checked"%><% } %>>                          
                      </label>
                  </div>
              </div>
            </div>

             <%= partial('partials_markupText', {
              id: "bearer_cheque_name",
              placeholder: "Name of person in whose name cheque is to be issued.",
              label: "Cheque issued to:",
              name: "bearer_cheque_name",
              value: account_details.get("bank_account").bearer_cheque_name ? account_details.get("bank_account").bearer_cheque_name : "",
              required: false            
            }) %>

            <hr>
              <h4 class="to_center">Details where Online Settlement Receipt is to be sent</h4>
            <hr>

            <%= partial('partials_markupText', {
              id: "online_settlement_receipt_name",
              placeholder: "Name",
              label: "Name",
              name: "online_settlement_receipt_name",
              value: online_settlement_detail ? online_settlement_detail.online_settlement_receipt_name : "",
              required: false,      
            }) %> 

            <%= partial('partials_markupText', {
              id: "online_settlement_receipt_address",
              placeholder: "Address",
              label: "Address",
              name: "online_settlement_receipt_address",
              value: online_settlement_detail ? online_settlement_detail.online_settlement_receipt_address : "",
              required: false,       
            }) %> 

            <%= partial('partials_markupText', {
              id: "online_settlement_receipt_address_landmark",
              placeholder: "Nearby Landmark",
              label: "Nearby Landmark",
              name: "online_settlement_receipt_address_landmark",
              value: online_settlement_detail ? online_settlement_detail.online_settlement_receipt_address_landmark : "",
              required: false,       
            }) %>

            <%= partial('partials_markupText', {
              id: "online_settlement_receipt_address_pincode",
              placeholder: "Pincode",
              label: "Pincode",
              name: "online_settlement_receipt_address_pincode",
              value: online_settlement_detail ? online_settlement_detail.online_settlement_receipt_address_pincode : "",
              required: false,       
            }) %> 


            <h4 class="to_center">Number for sending confirmation SMS</h4>

              <input type="hidden" name="phone_numbers_for_confirmation_sms_count" value="<%= phone_numbers_for_confirmation_sms.length %>" >

            <% _.each(phone_numbers_for_confirmation_sms, function(phone_number, i) { %>
            <%=
              partial('partials_contactNumber', {
                id: phone_number._id,
                markup_hidden_name: "phone_numbers_for_confirmation_sms_" + i + "_id",
                markup_hidden_index: "phone_numbers_for_confirmation_sms_" + i,
                markup_select_name: "phone_numbers_for_confirmation_sms_" + i + "_number_type",
                markup_input_name: "phone_numbers_for_confirmation_sms_" + i + "_number",
                markup_to_delete: "phone_numbers_for_confirmation_sms_" + i + "_delete",
                i: i,
                number: phone_number.number,
                contact_number_types: window.collections.contact_number_types,
                number_type: phone_number.number_type,
                sms: false,
                is_present_on_counter: false,
                is_smartphone: false,
                is_verified: false
              })
            %>
          <% }) %>

   
          <button type="button" class="btn btn-info btn-sm add_new_number_sms">Add new Phone Number</button>
          <hr>

	          <div class="submit_div">
	            <input type="submit" class="btn btn-primary" value="Save Changes" id="save_changes_accounts">
	          </div>
        </form>
      </div>
      </div>
    </div><!-- end well -->
  </div>

</div><!-- end row -->