<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <form role="form" class="form-horizontal" id="android_settings_form" method="POST">
          <div class="form-group">
            <div class="col-md-2 col-md-offset-9">
              <a class="btn btn-info btn-sm" href="#android-releases">Android Releases <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="SETTINGS_FOR_APP_VERSION" class="control-label">App Version</label>
            </div>
            <div class="col-md-6">
              <select class="form-control input-sm" name="current_version" id = "android_versions">
              <% _.each(android_settings.versions,function(version) { %>
                <option value= "<%=version%>" <%= current_version == version ? 'selected' : '' %> ><%=version%></option>
              <%}); %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="RESTAURANT_NUMBER_SYNC_LIMIT" class="control-label">Restaurant Number Sync Limit</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-sm" name="RESTAURANT_NUMBER_SYNC_LIMIT"  value ="<%=android_settings.RESTAURANT_NUMBER_SYNC_LIMIT %>" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="CURRENT_LOCATION_REFRESH_TIME" class="control-label">Current Location Refresh Time</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-sm" name="CURRENT_LOCATION_REFRESH_TIME"  value = "<%= android_settings.CURRENT_LOCATION_REFRESH_TIME%>"required >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="SPLASH_SCREEN_TIME" class="control-label">Splash Screen Time</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-sm" name="SPLASH_SCREEN_TIME" value = "<%=android_settings.SPLASH_SCREEN_TIME%>" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="RESTAURANT_SYNC_BATCH_SIZE" class="control-label">Restaurant Sync batch</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-sm" name="RESTAURANT_SYNC_BATCH_SIZE" value="<%= android_settings.RESTAURANT_SYNC_BATCH_SIZE%>" required >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="PROCESS_DISPLAY_STRINGS" class="control-label">Process Display Strings</label>
            </div>
            <div class="col-md-6">
              <input type="hidden" name="PROCESS_DISPLAY_STRINGS" value="off">
              <input type="checkbox" class="form-control input-sm" name="PROCESS_DISPLAY_STRINGS"  <% if(android_settings.PROCESS_DISPLAY_STRINGS=="true"){%> <%= "checked" %> <% }%> >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="FORCE_VERIFY_NEW_USERS" class="control-label">Force Verify New Users</label>
            </div>
            <div class="col-md-6">
              <input type="hidden" name="FORCE_VERIFY_NEW_USERS" value="off">
              <input type="checkbox" class="form-control input-sm" name="FORCE_VERIFY_NEW_USERS"  <% if(android_settings.FORCE_VERIFY_NEW_USERS=="true"){%> <%= "checked" %> <% }%>  >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
              <label for="SMS_LOGIN_CHANNEL_PREFIX" class="control-label">Sms Login Channel Prefix</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control input-sm" name="SMS_LOGIN_CHANNEL_PREFIX" value="<%= android_settings.SMS_LOGIN_CHANNEL_PREFIX%>" readonly>
            </div>
          </div>

          <% if(android_settings.PERFORM_SYNC != undefined) {%>
            <div class="form-group">
              <div class="col-md-4 col-md-offset-1">
                <label for="PERFORM_SYNC" class="control-label">Perfrom Sync</label>
              </div>
              <div class="col-md-6">
                <input type="hidden" name="PERFORM_SYNC" value="off">
                <input type="checkbox" class="form-control input-sm" name="PERFORM_SYNC"  <% if(android_settings.PERFORM_SYNC=="true"){%> <%= "checked" %> <% }%>  >
              </div>
            </div>
          <%}%>

          <% if(android_settings.SYNC_PERIOD != undefined) {%>
            <div class="form-group">
              <div class="col-md-4 col-md-offset-1">
                <label for="SYNC_PERIOD" class="control-label">Sync Period</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control input-sm" name="SYNC_PERIOD" value="<%= android_settings.SYNC_PERIOD%>">
              </div>
            </div>
          <%}%>

          <% if(android_settings.SETTINGS_SYNC_INTERVAL!= undefined) { %>
          <hr>

            <div class ="col-md-offset-1">
              <ul class="nav nav-pills nav-justified" role="tablist" id="myandroidTab">
                <li class="active" role="presentation" id="android_settings_sync"><a href="#settings_sync_panel" role="tab" data-toggle="tab">Settings Sync</a></li>
                <li  role="presentation" id="android_location_sync"><a href="#location_sync_panel" role="tab" data-toggle="tab">Location Sync</a></li>
                <li role="presentation" id="android_menu_sync"><a href="#menu_sync_panel" role="tab" data-toggle="tab">Menu Sync</a></li>
                <li role="presentation" id="android_profile_sync"><a href="#profile_sync_panel" role="tab" data-toggle="tab">Profile Sync</a></li>
                <li role="presentation" id="android_cuisine_sync"><a href="#cuisine_sync_panel" role="tab" data-toggle="tab">Cuisine Sync</a></li>
                <li role="presentation" id="android_full_sync"><a href="#full_sync_panel" role="tab" data-toggle="tab">Full Sync</a></li>
              </ul>
              <br>
            </div>

            <div class="tab-content">
              
              <div role="tabpanel" class="tab-pane fade in active" id="settings_sync_panel">
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="SETTINGS_SYNC_INTERVAL" class="control-label">Settings Sync Intervals</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="SETTINGS_SYNC_INTERVAL"  value="<%= android_settings.SETTINGS_SYNC_INTERVAL%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="SETTINGS_SYNC_PERIOD" class="control-label">Settings Sync Period</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="SETTINGS_SYNC_PERIOD" value="<%= android_settings.SETTINGS_SYNC_PERIOD%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="SETTINGS_SYNC_IS_TRIGGER" class="control-label">Settings Sync is trigger</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="SETTINGS_SYNC_IS_TRIGGER" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="SETTINGS_SYNC_IS_TRIGGER" <% if(android_settings.SETTINGS_SYNC_IS_TRIGGER=="true"){%> <%= "checked" %> <% }%>  >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="SETTINGS_SYNC_TRIGGER_ON_APP_START" class="control-label">Settings Sync Trigger on App Start</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="SETTINGS_SYNC_TRIGGER_ON_APP_START" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="SETTINGS_SYNC_TRIGGER_ON_APP_START" <% if(android_settings.SETTINGS_SYNC_TRIGGER_ON_APP_START=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="SETTINGS_SYNC_TRIGGER_ON_APP_SHUTDOWN" class="control-label">Settings Sync Trigger on App Stop</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="SETTINGS_SYNC_TRIGGER_ON_APP_SHUTDOWN" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="SETTINGS_SYNC_TRIGGER_ON_APP_SHUTDOWN" <% if(android_settings.SETTINGS_SYNC_TRIGGER_ON_APP_SHUTDOWN=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="location_sync_panel">
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="LOCALITY_SYNC_INTERVAL" class="control-label">Locality Sync Intervals</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="LOCALITY_SYNC_INTERVAL"  value="<%= android_settings.LOCALITY_SYNC_INTERVAL%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="LOCALITY_SYNC_PERIOD" class="control-label">Locality Sync Period</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="LOCALITY_SYNC_PERIOD" value="<%= android_settings.LOCALITY_SYNC_PERIOD%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="LOCALITY_SYNC_IS_TRIGGER" class="control-label">Locality Sync is trigger</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="LOCALITY_SYNC_IS_TRIGGER" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="LOCALITY_SYNC_IS_TRIGGER" <% if(android_settings.LOCALITY_SYNC_IS_TRIGGER=="true"){%> <%= "checked" %> <% }%>  >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="LOCALITY_SYNC_TRIGGER_ON_APP_START" class="control-label">Locality Sync Trigger on App Start</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="LOCALITY_SYNC_TRIGGER_ON_APP_START" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="LOCALITY_SYNC_TRIGGER_ON_APP_START" <% if(android_settings.LOCALITY_SYNC_TRIGGER_ON_APP_START=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="LOCALITY_SYNC_TRIGGER_ON_APP_SHUTDOWN" class="control-label">Locality Sync Trigger on App Stop</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="LOCALITY_SYNC_TRIGGER_ON_APP_SHUTDOWN" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="LOCALITY_SYNC_TRIGGER_ON_APP_SHUTDOWN" <% if(android_settings.LOCALITY_SYNC_TRIGGER_ON_APP_SHUTDOWN=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="menu_sync_panel">
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="MENU_SYNC_INTERVAL" class="control-label">Menu Sync Intervals</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="MENU_SYNC_INTERVAL"  value="<%= android_settings.MENU_SYNC_INTERVAL%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="MENU_SYNC_PERIOD" class="control-label">Menu Sync Period</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="MENU_SYNC_PERIOD" value="<%= android_settings.MENU_SYNC_PERIOD%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="MENU_SYNC_IS_TRIGGER" class="control-label">Menu Sync is trigger</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="MENU_SYNC_IS_TRIGGER" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="MENU_SYNC_IS_TRIGGER" <% if(android_settings.MENU_SYNC_IS_TRIGGER=="true"){%> <%= "checked" %> <% }%>  >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="MENU_SYNC_TRIGGER_ON_APP_START" class="control-label">Menu Sync Trigger on App Start</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="MENU_SYNC_TRIGGER_ON_APP_START" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="MENU_SYNC_TRIGGER_ON_APP_START" <% if(android_settings.MENU_SYNC_TRIGGER_ON_APP_START=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="MENU_SYNC_TRIGGER_ON_APP_SHUTDOWN" class="control-label">Menu Sync Trigger on App Stop</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="MENU_SYNC_TRIGGER_ON_APP_SHUTDOWN" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="MENU_SYNC_TRIGGER_ON_APP_SHUTDOWN" <% if(android_settings.MENU_SYNC_TRIGGER_ON_APP_SHUTDOWN=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="profile_sync_panel">
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="PROFILE_SYNC_INTERVAL" class="control-label">Profile Sync Intervals</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="PROFILE_SYNC_INTERVAL"  value="<%= android_settings.PROFILE_SYNC_INTERVAL%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="PROFILE_SYNC_PERIOD" class="control-label">Profile Sync Period</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="PROFILE_SYNC_PERIOD" value="<%= android_settings.PROFILE_SYNC_PERIOD%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="PROFILE_SYNC_IS_TRIGGER" class="control-label">Profile Sync is trigger</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="PROFILE_SYNC_IS_TRIGGER" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="PROFILE_SYNC_IS_TRIGGER" <% if(android_settings.PROFILE_SYNC_IS_TRIGGER=="true"){%> <%= "checked" %> <% }%>  >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="PROFILE_SYNC_TRIGGER_ON_APP_START" class="control-label">Profile Sync Trigger on App Start</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="PROFILE_SYNC_TRIGGER_ON_APP_START" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="PROFILE_SYNC_TRIGGER_ON_APP_START" <% if(android_settings.PROFILE_SYNC_TRIGGER_ON_APP_START=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="PROFILE_SYNC_TRIGGER_ON_APP_SHUTDOWN" class="control-label">Profile Sync Trigger on App Stop</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="PROFILE_SYNC_TRIGGER_ON_APP_SHUTDOWN" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="PROFILE_SYNC_TRIGGER_ON_APP_SHUTDOWN" <% if(android_settings.PROFILE_SYNC_TRIGGER_ON_APP_SHUTDOWN=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="cuisine_sync_panel">
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="CUISINE_SYNC_INTERVAL" class="control-label">Cuisine Sync Intervals</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="CUISINE_SYNC_INTERVAL"  value="<%= android_settings.CUISINE_SYNC_INTERVAL%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="CUISINE_SYNC_PERIOD" class="control-label">Cuisine Sync Period</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="CUISINE_SYNC_PERIOD" value="<%= android_settings.CUISINE_SYNC_PERIOD%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="CUISINE_SYNC_IS_TRIGGER" class="control-label">Cuisine Sync is trigger</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="CUISINE_SYNC_IS_TRIGGER" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="CUISINE_SYNC_IS_TRIGGER" <% if(android_settings.CUISINE_SYNC_IS_TRIGGER=="true"){%> <%= "checked" %> <% }%>  >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="CUISINE_SYNC_TRIGGER_ON_APP_START" class="control-label">Cuisine Sync Trigger on App Start</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="CUISINE_SYNC_TRIGGER_ON_APP_START" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="CUISINE_SYNC_TRIGGER_ON_APP_START" <% if(android_settings.CUISINE_SYNC_TRIGGER_ON_APP_START=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="CUISINE_SYNC_TRIGGER_ON_APP_SHUTDOWN" class="control-label">Cuisine Sync Trigger on App Stop</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="CUISINE_SYNC_TRIGGER_ON_APP_SHUTDOWN" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="CUISINE_SYNC_TRIGGER_ON_APP_SHUTDOWN" <% if(android_settings.CUISINE_SYNC_TRIGGER_ON_APP_SHUTDOWN=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="full_sync_panel">
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="FULL_SYNC_INTERVAL" class="control-label">Full Sync Intervals</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="FULL_SYNC_INTERVAL"  value="<%= android_settings.FULL_SYNC_INTERVAL%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="FULL_SYNC_PERIOD" class="control-label">Full Sync Period</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="FULL_SYNC_PERIOD" value="<%= android_settings.FULL_SYNC_PERIOD%>" required >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="FULL_SYNC_IS_TRIGGER" class="control-label">Full Sync is trigger</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="FULL_SYNC_IS_TRIGGER" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="FULL_SYNC_IS_TRIGGER" <% if(android_settings.FULL_SYNC_IS_TRIGGER=="true"){%> <%= "checked" %> <% }%>  >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="FULL_SYNC_TRIGGER_ON_APP_START" class="control-label">Full Sync Trigger on App Start</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="FULL_SYNC_TRIGGER_ON_APP_START" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="FULL_SYNC_TRIGGER_ON_APP_START" <% if(android_settings.FULL_SYNC_TRIGGER_ON_APP_START=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="FULL_SYNC_TRIGGER_ON_APP_SHUTDOWN" class="control-label">Full Sync Trigger on App Stop</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" name="FULL_SYNC_TRIGGER_ON_APP_SHUTDOWN" value = "off" >
                    <input type="checkbox" class="form-control input-sm" name="FULL_SYNC_TRIGGER_ON_APP_SHUTDOWN" <% if(android_settings.FULL_SYNC_SYNC_TRIGGER_ON_APP_SHUTDOWN=="true"){%> <%= "checked" %> <% }%> >
                  </div>
                </div>
              </div>

            </div>
          <% } %>

          <hr/>
          <div class="to_center">
            <button type="Create" class="btn btn btn-success" id="edit_android_settings">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
