<div id="top_navigation">
</div>

<div class="row">
  <!-- form component -->
  <div class="col-xs-12"  id="delivery_area_list">

    <div class="panel">
      <div class="panel-body">
      <button type="button" class="btn btn-white btn-sm pull-right preview_locality_group hidden-xs" disabled data-index = "">
        <i class="fa fa-map-marker" style="color:#fa8564"></i> Map Preview 
      </button>
      <h3 class="to_center">Edit: Delivery Areas</h3>
      <hr>
      
        <form accept-charset="UTF-8" class="form-horizontal" id="delivery_area_form" method="post" enctype="multipart/form-data">

          <input type="hidden" value="<%= restaurant.get('id') %>" name="id" id="id">

          <input type="hidden" name="delivery_area_count" value="<%= deliveryAreas.length %>">
          <div class="form-group">
            <label for="locality_filter" class="col-md-3 control-label" style="padding-top:2px">Select a locality: </label>
            <div class="col-md-8">
              <select name="locality_filter" id="locality_filter" class="" >
                <option value="" selected="selected"></option>
                <% _.each(collections.localities, function(locality) { %>
                  <% if(!locality.parent_id){ %>
                    <option value="<%= locality.id %>"><%= locality.name %></option>
                  <% } %>
                <% }) %>
              </select>
              &nbsp;
              <!--<button type="button" class="btn btn-info btn-sm" id="lock"><i class="fa fa-lock"></i> </button>
              <button type="button" class="btn btn-info btn-sm" id="unlock"><i class="fa fa-unlock"></i> </button>-->
              <button type="button" class="btn btn-danger btn-sm" id="clear_filter"><i class="fa fa-times"></i> Clear</button>
            </div>
            <br/><br/>
            <div>
              <label class="col-md-3 control-label" style="padding-top:2px">Selected localities: </label>
              <div id="locality_tags" class="col-md-8">
                <% _.each(collections.localities, function(locality, i) { %>
                  <% if (tags[locality.id] != undefined) { %>
                    <span class="label label-primary" style="background: #1fb5ad; margin-right: 2px;" id="selected_locality_<%= locality.id %>"><%= locality.name %>: <span class="badge" id="selected_badge_<%= locality.id %>" style="background: #1fb5ad; padding-top: 2px; margin-left: 2px;"><%= tags[locality.id] %></span></span>
                    <% total += 1 %>
                  <% } %>
                  <% if (total == deliveryAreas.length) { return false } %>
                <% }) %>
                <span class="label label-primary pull-right" style="background: #1fb5ad;" id="total_localities">Total : <span class="badge" id="total_badge" style="background: #1fb5ad; padding-top: 2px; margin-left: 2px;"><%= deliveryAreas.length %></span></span>
              </div>
            </div>
          </div>
          <hr/>
      <table class="table table-hover delivery_area_table">

        <thead>
          <th class="" >Sub-Locality</th>
          <th class="delivery_time">Min Delivery Amt</th>
          <th class="delivery_time">Delivery Charges</th>
          <th class="delivery_time">Delivery Time Non Rush Hours (In minutes)</th>
          <th class="delivery_time">Delivery Time Rush hours (In minutes)</th>
          <th class="delivery_time hidden-xs">Actions</th>
        </thead>

        <tbody>
              <% _.each(deliveryAreas, function(deliveryArea, i) { %>
                <%= partial('partials_deliveryArea', {
                  i: i,
                  deliveryArea: deliveryArea,
                  localities: collections.groups,
                  group_map: group_map
                }) %>
              <% }) %>
        </tbody>

      </table>

          <br>

          <button type="button" class="btn btn-info btn-sm add_delivery_area"><i class="fa fa-plus"></i> Add Delivery Area</button>

          <div class="submit_div">
            <input type="submit" class="btn btn-primary" value="Save Changes" id="save_changes_locality">
          </div>


        </form>
        
      </div>
    </div><!-- end well -->
  </div>
</div><!-- end row -->

<div class="row hidden-xs" id="map_loader" style="opacity:0;zoom:0">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body clearfix">
        <div class='row'>
          <div class='col-sm-4'>
              <h4 class="pull-left"> Delivery Areas <span id="polygon_name" class="small"></span></h4>
          </div>
          <div class='col-sm-3'>
             <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                 Heat Map <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li id="delivery_time"><a>Delivery Time</a></li>
                <li id="minimum_order"><a>Minimum Order amount</a></li>
                <li class="hidden" id="normal_view"><a>Back to normal View</a></li>
              </ul>
            </div>
          </div>
          <div class='col-sm-3'>
              <button class="btn btn-warning btn-sm pull-right show_all" id="on">Show All</button>
          </div>
          <div class='col-sm-2'>
              <button class="btn btn-danger btn-sm pull-right" id="close_locality_group_preview"><i class="fa fa-times"></i> Close Map Preview </button>      
          </div>
        </div>
        
        
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>
