<div class="row" id="filters_affix">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">                        
        <div class="row">             
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-lg-5">
                  <h4> Dish Items  </h4>
                </div> 
              </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <section class="panel">
        <div class="panel-body" style="display: block;">
          <div class="adv-table">
            <table class="display table  dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
              <thead>
                <tr role="row">
                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 173px;">Dish Name</th>
                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 232px;">Description</th>
                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 211px;">Status</th>
                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 211px;">Available On</th>
                  <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 148px;">Restaurant Name</th>
                  <th class="hidden-phone sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="CSS grade: activate to sort column ascending" style="width: 105px;">Push Changes</th>
                  <th class="hidden-phone sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="CSS grade: activate to sort column ascending" style="width: 105px;">Actions</th>
                  <th class="hidden-phone sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="CSS grade: activate to sort column ascending" style="width: 105px;">Delivered In</th>
                </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
                <% _.each(dish_items, function(dish_item, i) { %> 
                <tr class="gradeX odd">
                        <td class=" "><%= dish_item["Item"].name %></td>
                        <td class=" "><%= dish_item["Item"].description %></td>
                        <td class="center" ><%= get_status_span(dish_item["Item"].status) %></td>
                        <td class=" "> <%= get_available_days(dish_item["Item"].available_days) %> </td>
                        <td class="center"><%= dish_item["Restaurant"].name %></td>
                        <td class="center">
                          <% if(dish_item["Restaurant"].version_dirty_bit){ %>
                            <button type="button" class="btn btn-warning btn-sm push_menu"> Push Changes </button>
                          <input type="hidden" class="push_menu_id" value="<%=dish_item["Item"].restaurant_id%>">
                          <% } %>
                        </td>
                        
                        <td><a class="btn btn-info btn-sm" href="#dishes/<%= dish_item["Item"].id %>">Edit</a></td>
                        <td class=" "><%=_.pluck( dish_item["Restaurant"].delivers_in,'Sub-Locality').join(',') %> </td>
                </tr>
                <% });%>
              </tbody>
            </table>
          </div> 
        </div>
      </section>
  </div>
</div>
  