<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <span class="text-info hidden-xs">#<%= restaurant.form_id %></span>
        <%=get_status_span(restaurant.status)%>
        <span>&nbsp;&nbsp;</span>
        <span class="lead"> <%=restaurant.name%></span>
        <span>&nbsp;&nbsp;</span>
        <span> <i class="fa fa-map-marker" style="color:#fa8564"></i> <%=get_locality(restaurant.locality_id)%></span>
        <span>&nbsp;&nbsp;<input type="hidden" id="current_status" value="<%=restaurant.status%>"></span>
        <span>
          <a class="btn btn-primary btn-sm" href="#restaurants/<%= restaurant.id %>/profile"><i class="fa fa-edit"></i> Edit</a> 
          <a class="btn btn-primary btn-sm" href="/restaurant/crm/restaurants/<%= restaurant.id %>/menu_items" target="_blank"><i class="fa fa-list"></i> Menu</a>
          <a class="btn btn-primary btn-sm" href="/restaurant/crm/restaurants/<%= restaurant.id %>/menu_choices" target="_blank"><i class="fa fa-check-square-o"></i> Choices</a>
        </span>
        <span class="pull-right">
          <a class="btn btn-primary " href="#dishes"><i class="fa fa-spoon"></i> Dishes</a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-6">
    <div class="panel">
      <div class="panel-body">
      <section id="alerts"></section>
        <form accept-charset="UTF-8" class="form-horizontal" id="update_status_form" data-item="<%= dish_item.id %>" method="post">  
          <div class="form-group">
            <label for="status_change" class="col-md-4 control-label">Change Status to: </label>
            <div class="col-md-8">
              <select name="status_change" class="form-inline-element input-sm" id="status_change">
                <option value=null> No Action </option>   
                <% _.each(window.collections.status,function(i,stat,j){%>
                  <%if(i==2 || i==3){ %>
                    <option value="<%=i%>" ><%=stat%></option>
                  <% } %>
                <%});%>             
              </select>
              <p class="help-block text-info">Will immediately change the status </p>
            </div>
          </div>       

        <div class="form-group">
            <label class="col-md-4 control-label">Disable for : </label>
            <div class="col-md-3">
              <select name="timeperiod" class="form-inline-element input-sm" id="timeperiod">
                <option value="forever">Forever</option>   
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
                <option value="days">Days</option>
                <option value="weeks">Weeks</option>
                <option value="months">Months</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="number" class="form-control input-sm hidden" name="time" id="time-value"autocomplete="off" min=1 >
            </div>
        </div>   
         
        <div class="form-group">
            <label class="col-md-4 control-label">* Comment</label>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" name="comment" id= "status_comment" required autocomplete="off" >
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-6">
                <button class="btn btn-success btn-sm" id="update_status"  >Update</button>
                <a class="btn btn-danger btn-sm" href="#dishes">Close</a>
            </div>
        </div>
    </form>
    </div>
    </div>                           
  </div>
  <div class="col-md-6">
    <div class="feed-box text-center">
        <section class="panel">
            <div class="panel-body">
                <div class="corner-ribon blue-ribon">
                    <i class="fa fa-spoon"></i>
                </div>
                <!-- <a href="#">
                    <img alt="" src="images/lock_thumb.jpg">
                </a> -->
                <h1><%= dish_item.name %></h1>
                <p><%= dish_item.description %></p>
               <%= get_status_span(parseInt(dish_item.status)) %>
               <div class="panel">
                  <div class="panel-body">
                   <div class="form-group">
                      <label class="col-md-5 control-label text-right">Available on :</label>
                      <div class="col-md-7">
                          <label class="col-md-12 text-left"><%= get_available_days(dish_item.available_days) %></label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-5 control-label text-right">Type :</label>
                      <div class="col-md-7">
                          <label class="col-md-12 text-left"><%= dish_item.veg_type %></label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-5 control-label text-right">Image :</label>
                      <div class="col-md-7">
                          <label class="col-md-12 text-left"><%= dish_item.image_file_name %></label>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </section>
     </div>
                               
  </div>
</div>