<div id="top_navigation">
</div>

<div class="row">
  <!-- form component -->
  <div class="col-xs-12">

    <div class="panel">
      <div class="panel-body">
      <h2 class="to_center">Logo</h2>
      <hr>
      <form class="form-horizontal" id="" method="post" enctype="multipart/form-data">
        <input type="hidden" value="<%= id %>" name="restaurant_id" id="restaurant_id">
        <input type="hidden" value="<%= count %>" name="count" id="count">
        <input type="hidden" value="<%= count %>" name="pivot" id="pivot">
        <div class="form-group">
          <label class="control-label col-md-4">Restaurant Logo</label>
          <div class="controls col-md-8">                                    
              <%if(logo.logo != null){ %>
                <input type="file" name="logo" id="logo" class="form-control input-sm hide">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <input type="hidden" id="logo_url" value="<%=logo.logo%>" >
                  <div class="fileupload-new thumbnail pull-left" >
                      <img src="<%=logo.logo+"?"+ new Date().getTime()%>" class="img-responsive" id="current_logo" alt="Error loading the image!">
                  </div> 
                  &nbsp;&nbsp; 
                  <!--<button type="button" class="btn btn-white btn-sm" id="change_image"> Change </button>-->
                  <a href="/restaurant/data_entry/restaurants/download_logo/<%= id %>" class="btn btn-info btn-sm" id="download_logo" target="_blank"><i class="fa fa-download"></i> Download </a>
                  <button type="button" class="btn btn-danger btn-sm" id="delete_current_logo"><i class="fa fa-times"></i> Delete</button>
                  <button type="button" class="btn btn-white btn-sm hide" id="restore_logo"><i class="fa fa-refresh"></i> Restore</button>                      
                  <p class="text-warning hide" id="delete_info">&nbsp;&nbsp; Image will be deleted after you click on <span class="text-primary">'Update Logo'.</span> </p>                 
                  <input type="hidden" name="delete_logo" id="delete_logo" value=false>
                </div>

              <% }else{ %>
                <input type="file" name="logo" id="logo" class="form-control input-sm">
              <% } %>
          </div>
        </div>
        <div class="form-group">
          <div class="controls col-md-6 col-md-offset-4">  
            <%if(logo.logo_updated_at != 0){ %><p class=""> Logo last updated : <strong><span data-livestamp="<%= logo.logo_updated_at %>"></span> | <%=timeConverter(logo.logo_updated_at)%></strong></p><% } %>
            <button type="button" class="btn btn-primary btn-sm update_logo" id="update_logo"> Update Logo </button>
          </div>
        </div>
        <hr/>
        <h2 class="to_center"> Documents </h2>
        <hr/>
        <% _.each(documents, function(document, i) { %>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="activity-desk">
                <span class="alert-icon pull-left bg-terques"><i class="fa fa-file-text"></i></span>  
                <span class="label label-danger pull-right delete_doc" style="cursor:pointer"><i class="fa fa-times"></i> Delete</span>
                <input type="hidden" value="<%=document.get("id")%>" id="delete_id">
                <h3 class="terques"><%=document.get("name")%></h3> 
                <a class="btn btn-primary btn-sm" href="<%=document.get("document")%>"><i class="fa fa-download"></i> Download </a>
              </div>
            </div>
          </div>
        <% }); %>
        <button type="button" class="btn btn-default btn-sm" id="add_document"><i class="fa fa-plus"></i> Add a new document </button>
        
        <!--<button type="submit" class="btn btn-primary btn-sm" id="save_documents"> Save Documents </button>-->
      </form>
      </div>
    </div><!-- end well -->
  </div>

</div><!-- end row -->