<div id="top_navigation" class="row" >
</div>



<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <section class="panel">
      <div class="panel-body">
        <h3>Tags:</h3>
        <% _.each(l1_tags,function(l1){ %>
          <span class="label label-primary tag-label" id="<%= l1[0] %>">
            <%= l1[0] %>: <span class="badge span-tag-label"><%= l1[1] %></span>
          </span>
        <% }) %>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <section class="panel">
      <div class="panel-body"><h3>Second Level Tags</h3>
        <div id="second_level_tags">
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <section class="panel">
      <div class="panel-body">
        <div id="categorization">
          <h3><b>Make Categorization</b></h3><br/>
          <select name="all_tags" id="show_all_tags" multiple="multiple">
            <% _.each(l1_tags,function(l1){ %>
              <option value="<%= l1[0] %>" <% if(!(category[l1[0]]==undefined)){%> selected <% } %> ><%= l1[0] %></option>
            <% }) %>
          </select>
          <button type="submit" class="btn btn-success" id="add_tags"  style="margin-left:8px">Add</button>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="enter_categorization_tags">
        </div>
        <button type="submit" class="btn btn-danger pull-right" id="save_tags_categorization" data-id="<%= res_id %>"style="margin-left:4px">Save</button>
      </div>      
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <section class="panel">
      <div class="panel-body">    
        <div class="show_categorization"></div>
      </div>
    </section>
  </div>
</div>

