<div id="top_navigation">
</div>

<div class="row">
  <!-- form component -->
  <div class="col-xs-12">

    <div class="panel">
      <div class="panel-body">
      <section id="alerts"></section> 
      <h2 class="to_center">Edit: Miscellaneous</h2>
      <hr>
      <div class="row">

        <form class="form-horizontal" id="" method="post" enctype="multipart/form-data">

          <input type="hidden" value="<%= miscellaneous.get('id') %>" name="restaurant_id">
	          
            <%= partial('partials_markupNumber', {
            id: "cost_for_two",
            placeholder: "Cost for two",
            label: "Cost for two",
            name: "cost_for_two",
            value: miscellaneous ? miscellaneous.get("cost_for_two") : 50 ,
            pattern: "/^[0-9]*$/",
            title: "Cost for two should be greater than or equal to 50.",
            min: "50",
            required: true,
          }) %>

	          <div class="form-group adjust-xs">
              <label for="restaurant_suggestion_ids" class="col-md-4 control-label">Restaurant Suggestions</label>
              <div class="col-md-8">
              <select multiple name="restaurant_suggestion_ids" id="restaurant_suggestion_ids">
              <% _.each(miscellaneous.get("restaurant_suggestion_collection"), function(suggestion) { %>
                <option <%if (check_element_exists(miscellaneous.get("restaurant_suggestion_ids"), suggestion.id)) { %>selected="selected"<% } %> value="<%= suggestion.id %>"><%= suggestion.name %></option>
              <% }) %>
              </select>
              </div>
            </div>  

            <div class="form-group adjust-xs">
	            <label for="cuisine_ids" class="col-md-4 control-label">Cuisines</label>
	            <div class="col-md-8">
	            <select multiple name="cuisine_ids" id="cuisine_ids">
	            <% _.each(window.collections.cuisines, function(cuisine) { %>
	              <option <%if (check_element_exists(miscellaneous.get("cuisine_ids"), cuisine[1])) { %>selected="selected"<% } %> value="<%= cuisine[1] %>"><%= cuisine[0] %></option>
	            <% }) %>
	            </select>
	            </div>
	          </div>	     

	          <!-- <div class="form-group adjust-xs">
              <label class="col-sm-4 control-label col-md-4" for="breakfast_rating">Breakfast Rating</label>
              <div class="col-md-6 col-sm-6">
		          	<span class="rating" id="breakfast">
                  <% for(i=1; i<=miscellaneous.get("breakfast_rating"); i++){%>
                  	<span class="fa fa-star rated" data-rating="<%=i%>"></span>
                  <%}%>
                  <% for(i=i; i<=10; i++){%>
                  	<span class="fa fa-star-o unrated" data-rating="<%=i%>"></span>
                  <%}%>
                  <input type="hidden" name="breakfast_rating" class="rating-value" value="<%=miscellaneous.get("breakfast_rating")%>">
                  <label class="label label-success label-sm pull-right" id="rating-label" name="breakfast_rating" value="<%=miscellaneous.get("breakfast_rating")%>"> <%=miscellaneous.get("breakfast_rating")?miscellaneous.get("breakfast_rating"):"0"%></label>                    
                </span>
				       </div>
				    </div>

				    <div class="form-group adjust-xs">
              <label class="col-sm-4 control-label col-md-4" for="lunch_rating">Lunch Rating</label>
              <div class="col-md-6">
		          	<span class="rating" id="lunch">
                  <% for(i=1; i<=miscellaneous.get("lunch_rating"); i++){%>
                  	<span class="fa fa-star rated" data-rating="<%=i%>"></span>
                  <%}%>
                  <% for(i=i; i<=10; i++){%>
                  	<span class="fa fa-star-o unrated" data-rating="<%=i%>"></span>
                  <%}%>
                  <input type="hidden" name="lunch_rating" class="rating-value" value="<%=miscellaneous.get("lunch_rating")%>">
                  <label class="label label-success label-sm pull-right" id="rating-label" name="lunch_rating" value="<%=miscellaneous.get("lunch_rating")%>"> <%=miscellaneous.get("lunch_rating")?miscellaneous.get("lunch_rating"):"0"%></label>                    
                </span>
				       </div>
				    </div>

				    <div class="form-group adjust-xs">
              <label class="col-sm-4 control-label col-md-4" for="snacks_rating">Snacks Rating</label>
              <div class="col-md-6">
		          	<span class="rating" id="snacks">
                  <% for(i=1; i<=miscellaneous.get("snacks_rating"); i++){%>
                  	<span class="fa fa-star rated" data-rating="<%=i%>"></span>
                  <%}%>
                  <% for(i=i; i<=10; i++){%>
                  	<span class="fa fa-star-o unrated" data-rating="<%=i%>"></span>
                  <%}%>
                  <input type="hidden" name="snacks_rating" class="rating-value" value="<%=miscellaneous.get("snacks_rating")%>">
                  <label class="label label-success label-sm pull-right" id="rating-label" name="snacks_rating" value="<%=miscellaneous.get("snacks_rating")%>"> <%=miscellaneous.get("snacks_rating")?miscellaneous.get("snacks_rating"):"0"%></label>                    
                </span>
				       </div>
				    </div>

				    <div class="form-group adjust-xs">
              <label class="col-sm-4 control-label col-md-4" for="dinner_rating">Dinner Rating</label>
              <div class="col-md-6">
		          	<span class="rating" id="dinner">
                  <% for(i=1; i<=miscellaneous.get("dinner_rating"); i++){%>
                  	<span class="fa fa-star rated" data-rating="<%=i%>"></span>
                  <%}%>
                  <% for(i=i; i<=10; i++){%>
                  	<span class="fa fa-star-o unrated" data-rating="<%=i%>"></span>
                  <%}%>
                  <input type="hidden" name="dinner_rating" class="rating-value" value="<%=miscellaneous.get("dinner_rating")%>">
                  <label class="label label-success label-sm pull-right" id="rating-label" name="dinner_rating" value="<%=miscellaneous.get("dinner_rating")%>"> <%=miscellaneous.get("dinner_rating")?miscellaneous.get("dinner_rating"):"0"%></label>                    
                </span>
				       </div>
				    </div>	 -->          					  


            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label for="spot_payment_type" class="col-md-4 col-xs-4 control-label">Spot Payment Type</label>
              <div class="col-md-8 col-sm-8 col-xs-6">
              <select name="spot_payment_type" class="form-inline-element input-sm" id="spot_payment_type">
              <% _.each(window.collections.spot_payment_type, function(i,status) { %>
                <option value="<%= i %>" <% if(miscellaneous.get("spot_payment_type") == i){%><%="selected"%><%  } %> ><%= status %></option>
              <% }) %>
              </select>
              </div>
            </div>


            <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
              <label for="delivery_status" class="col-md-4 col-xs-4 control-label">Delivery Status</label>
              <div class="col-md-8 col-sm-8 col-xs-6">
              <select name="delivery_status" class="form-inline-element input-sm" id="delivery_status">
              <% _.each(window.collections.delivery_status, function(i,status) { %>
                <option value="<%= i %>" <% if(miscellaneous.get("delivery_status") == i){%><%="selected"%><%  } %> ><%= status %></option>
              <% }) %>
              </select>
              </div>
            </div>
            

          	<!-- <div class="form-group">
              <div class="col-xs-1 visible-xs"></div>
							<label for="comments" class="col-md-4 col-xs-4 control-label">Comments</label>
							<div class="col-md-6 col-sm-6 col-xs-6">
							  <textarea col="30" rows="3" class="form-control" name="comments" id="comments" placeholder="Comments"><%= miscellaneous.get("comments") %></textarea>
							</div>
						</div> -->	  

            <div class="form-group" id='closingReasonFormGroup' >
              <div class="col-xs-1 visible-xs"></div>
              <label for="closing_reason" class="col-md-4 col-xs-4 control-label">Closing Reasons</label>
              <div class="col-md-8 col-sm-8 col-xs-6">
                <select  class="form-inline-element input-sm" name="reason_id" id="closing_reasons">
                  <option value="nil">None</option>
                  <% $.each(window.collections.reasons,function(index,closingReasonItem){ %>
                  <option value="<%=closingReasonItem.id%>"<% if(miscellaneous.get("reason_id") == closingReasonItem.id){%><%="selected"%><%  } %> ><%=closingReasonItem.reason%></option>
                  <% }); %>
                </select>
              </div>
            </div>

	          <div class="submit_div">
	            <input type="submit" class="btn btn-primary" value="Save Changes" id="save_changes_misc">
	          </div>
            <br/><br/><br/>

        </form>
      </div>
      </div>
    </div><!-- end well -->
  </div>

</div><!-- end row -->