<div class="row">
  <!-- form component -->
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body">
      <section id="alerts"></section>
      <h2 class="to_center">Edit: Point of Sale</h2>
      <hr>
      <div class="row">
        <form class="form-horizontal" id="" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="restaurant_app" class="col-md-4 col-xs-4 control-label">Has Restaurant App</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="checkbox" <%= (model.get('has_restaurant_app') ? 'checked ' : '' ) %> name='has_restaurant_app' class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="is_app_service_on" class="col-md-4 col-xs-4 control-label">Is App Service ON</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="checkbox" <%= (model.get('is_app_service_on') ? 'checked ' : '' ) %>   name='is_app_service_on' class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="username" class="col-md-4 col-xs-4 control-label">Mobile Number</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" placeholder='Enter mobile number'  title='Phone number should be 10 digits, like 9876543210'  pattern="0|([0-9]{10})" required name='username' value="<%=model.get('username')%>" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="allocation_date" class="col-md-4 col-xs-4 control-label">Allocation Date</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" name='allocation_date' value="<%=model.get('allocation_date')%>"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="phone_model" class="col-md-4 col-xs-4 control-label">Phone Model</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" name='phone_model' value="<%=model.get('phone_model')%>"  required class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="is_tinyowls_device" class="col-md-4 col-xs-4 control-label">Is TinyOwl's Device</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="checkbox" <%= (model.get('is_tinyowls_device') ? 'checked ' : '' ) %>   name='is_tinyowls_device' id='is_tinyowls_device' class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="person_name" class="col-md-4 col-xs-4 control-label">Person Name on Agreement</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" name='person_name' <%= (model.get('is_tinyowls_device') ? '' : 'disabled' ) %>  value="<%=model.get('person_name')%>" required class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="imei_no" class="col-md-4 col-xs-4 control-label">IMEI No</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" name='imei_no' <%= (model.get('is_tinyowls_device') ? '' : 'disabled' ) %> value="<%=model.get('imei_no')%>"  class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="sim_no" class="col-md-4 col-xs-4 control-label">SIM No</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" name='sim_no' <%= (model.get('is_tinyowls_device') ? '' : 'disabled' ) %> value="<%=model.get('sim_no')%>" class="form-control" >
            </div>
          </div>
          
          <div class="submit_div">
            <input type="submit" class="btn btn-primary" value="Save Changes" id="save_changes_pos">
          </div>
          <br/><br/><br/>
        </form>
      </div>
    </div>
  </div>
</div>
</div>