<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel">
      <div class="panel-body">
        <section id="alerts"></section>
        <h3 class="to_center">  <% if(delivery_area) { %> Update Absolute Position  <% }%> <% if(!delivery_area) { %> Add new Absolute Position  <% }%> </h3>
        <div class="row"> 
          <div class="col-xs-4" style="padding-top:2px;">
          <button class="btn btn-success btn-sm" id="back_to_home"><i class="fa fa-arrow-left"></i> Back to home</button>
          </div>
        </div>  
        <form role="form" class="form-horizontal" id="position_form" method="POST">
          
          <%if (delivery_area) {%>
            <input type="hidden" value="<%=delivery_area.id%>" name="id" >
            <input type="hidden" value="<%=delivery_area.locality_id%>" name="locality_id" >
          <% } %>

          <% if(locality_id) {%>
            <input type="hidden" value="<%=locality_id%>" name="locality_id" >
          <%} %>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
           <label  class="col-md-4 col-sm-4 col-xs-4 control-label label-sm"> * Enter Restaurant</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <select id="restaurant_id" name="restaurant_id">
                <% _.each(restaurants, function(restaurant){ %>
                  <% if(delivery_area && restaurant.restaurant_id == delivery_area.restaurant_id){ %>
                    <option value="<%= restaurant.restaurant_id %>" selected><%= restaurant.name %> </option>
                  <% }else{ %>
                    <option value="<%= restaurant.restaurant_id %>"><%= restaurant.name %> 
                    </option>
                  <% } %>
                <% }) %>
              </select>
            </div>
          </div>
          
          <%= partial('partials_markupText', {
            id: "absolute_position",
            placeholder: "Enter position of the restaurant",
            label: "Position",
            name: "position",
            value: delivery_area ? delivery_area.absolute_position : "" ,
            required: true
          }) %>
          <hr/>
          <div class="to_center">
            <% if(delivery_area){ %>
            <button type="Update" class="btn btn btn-success edit_position" id="edit_position_button"> Update</button>
            <% } %>
            <% if(delivery_area==null){ %>
            <button type="Create" class="btn btn btn-success" id="create_new_button"> Create</button>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
