<div class="row">
  <div class="col-lg-12">
    <section class="panel">
        <div class="panel-body"> 
          <section id="alerts"></section>                           
            <div class="row">             
                <div class="col-lg-2">
            
                    <h4> <%= releaseType=="ios" ? "IOS releases" : "Android releases" %> </h4>
                </div>
                <div class="col-lg-2 col-lg-offset-6" style="padding-top:2px;">
                    <a class="btn btn-success btn-sm" href="#<%= releaseType=="ios" ? "ios-releases" : "android-releases" %>/new" id="add_new"><i class="fa fa-plus-square"></i> Add a new release</a>
           
                </div>
                <div class="col-lg-2" style="padding-top:2px;">
                    <a class="btn btn-success btn-sm" href="#settings"><i class="fa fa-arrow-left"></i> Settings Panel</a>
           
                </div>
                
                  
                                         
            </div>
            <hr/>

            <div class="row">
              <div class="col-lg-12">
                <table class="table  table-hover general-table">
                  <thead>
                      <tr>
                          <th>Version</th>
                          <th>Numerical Version</th>
                          <th>Base Version</th>
                          <th>Depricated</th>
                          <th>Released</th>
                          <th>Features</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody class="searchable">
                    <% _.each(releases, function(release, i) { %>                                     
                      <tr id='<%= release.get('id') %>'> 
                        <td>
                          <p class="text-info">
                            <%= release.get("version") %>
                          </p>
                        </td>
                        <td>
                            <p class="text-info">
                            <%= release.get("numerical_version") %>
                            </p>                                  
                        </td>

                        <td>
                            <p class="text-info">
                            <%= release.get("base_version") %>
                            </p>                                  
                        </td>
                        
                        <td>
                          <p class="text-info">
                            <%= release.get("is_deprecated") %>  
                          </p>                                  
                        </td>

                        <td>
                          <p class="text-info">
                            <%= release.get("is_released") %>  
                          </p>                                  
                        </td>                        


                         <td>
                            <p class="text-info">

                              <div id="release<%= release.get('id') %>" >
                                <ul class="fa-ul" style="width:200px;">
                                  <% _.each(release && release.get('features_added'), function(feature){ %>
                                    <li><i class="fa-li fa fa-square"></i><%= feature  %> </li>
                                  <% }) %>
                                  <%  if(release.get('features_added').length ==0) { %>
                                      <li><i class="fa-li fa fa-square"></i> No features added to this version </li>
                                  <%}%>
                                </ul>
                              </div>
                           </p>                                  
                        </td>
                        
                           
                        <td>  
                        <p class="text-info">
                          <a class="btn btn-primary btn-sm" href="#<%= releaseType=="ios" ? "ios-releases" : "android-releases" %>/edit/<%= release.get('id') %>" id="<%= release.get('id') %>" ><i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span></a>
                          <a class="btn btn-danger btn-sm hidden-xs delete"   id="<%= release.get('id') %>"><i class="fa fa-trash-o fa-fw"></i> Delete</a>
                        </p>                                      
                                                                
                        </td>                       
                      </tr>
                    <% }); %>                                                 
                  </tbody>
                </table>                
              </div>
            </div>
            <hr/>
            
            
        </div>
    </section>
  </div>
</div>

