<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-body">
        <section id="alerts"></section>
        <h3 class="to_center">  <% if(release) { %> Update Release  <% }%> <% if(!release) { %> Add new Release  <% }%> </h3>
        <hr/>

        <form role="form" class="form-horizontal" id="release_form" method="POST">
          <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
              <a class="btn btn-success btn-sm" href="#<%= releaseType=="ios" ? "ios-releases" : "android-releases" %>"><i class="fa fa-arrow-left"></i> Back to releases </a>
            </div>
          </div>
          <!-- render the text type for: form_id -->
          <%= partial('partials_markupText', {
            id: "name",
            placeholder: "Enter version of the release",
            label: "Version",
            name: "version",
            value: release ? release.version : "" ,
            required: true
          }) %>
          <!-- render the text type for: form_id -->
          <%= partial('partials_markupText', {
            id: "numerical-version",
            placeholder: "Enter numerical version",
            label: "Numerical version",
            name: "numerical_version",
            value: release ? release.numerical_version : "",
            required: true,
            pattern:"[0-9]*",
            title:"Please enter an integer."
          }) %>


          <div class="form-group">
              <label class="col-md-4 control-label" for="base_version" class="control-label">Base Version</label>
            <div class="col-md-6">
              <select class="form-control input-sm" name="base_version">
                <option value="this"><%="This is a base version"%></option> 
                <% if(base_version){ %>
                  <% _.each(base_version,function(version) { %>
                    <option value= "<%=version%>" 
                    <% if(release){  %>
                      <%= release.base_version==version ? "selected" : '' %>
                    <% } %>
                    ><%=version%>
                    </option>
                  <%}); %>
                <% } %>
              </select>
            </div>
          </div>


          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <input type="hidden" name="is_deprecated" value="off">
            <label class="col-sm-4 col-xs-4 control-label" for="is_deprecated">Is deprecated ?</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="is_deprecated" <% if(release && release.is_deprecated){%> <%= "checked" %> <% } %> >                        
                    </label>
                </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <input type="hidden" name="is_released" value="off">
            <label class="col-sm-4 col-xs-4 control-label" for="is_released">Is released ?</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="is_released" <% if(release && release.is_released){%> <%= "checked" %> <% } %> >                        
                    </label>
                </div>
            </div>
          </div>

          <% if(releaseType=="ios") { %>
          <%= partial('partials_markupText', {
            id: "app_store_url",
            placeholder: "Enter App store url",
            label: "App store url",
            name: "app_store_url",
            value: release ? release.app_store_url : "" ,
            required: false
          }) %>
          <% }%>

          <div class="form-group">
              <label for="features_added" class="col-md-4 control-label">Features added</label>
              <div class="col-md-6">
                <textarea cols="30" rows="6" class="form-control" name="features_added" id="features_added" placeholder="Enter features of the release"><%= release ? release.features_added : "" %></textarea>
              </div>
          </div>

          
          
          <hr/>
          <div class="to_center">
            <% if(release){ %>
            <button type="Update" class="btn btn btn-success" id="edit_release_button"> Update</button>
            <% } %>
            <% if(release==null){ %>
            <button type="Create" class="btn btn btn-success" id="create_new_button"> Add </button>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>