

<div id="top_navigation">
</div>

<div class="row">
  <!-- form component -->
  <div class="col-xs-12 ">
    <div class="panel">
      <div class="panel-body">
        <section id="alerts"></section>                           
        <h3 class="to_center">Edit: <%= restaurant.get('name') %></h3>
        <hr>
        <div class="row">
        <form accept-charset="UTF-8" class="form-horizontal" method="post" enctype="multipart/form-data">
          <div class="quick-save pull-right hidden-xs hidden-sm">
            <button type="submit" class="btn btn-success btn-sm affix" value="Save Changes" id="save_changes" ><i class="fa fa-save"></i> Quick Save </button>
          </div>
          <input type="hidden" value="<%= restaurant.get('id') %>" name="id">
          <!-- render the text type for: form_id -->
          <%= partial('partials_markupText', {
            id: "form_id",
            placeholder: "Form Id",
            label: "Form Id",
            name: "form_id",
            value: restaurant ? restaurant.get('form_id') : "",
            required: true,
            pattern: "([a-zA-Z])*([\\-])?([a-zA-Z])+[\\-][1-9]([0-9])*",
            title: "Should contain hypen (-) , Will be something like MA-213 or MUM-MA-213"
          }) %>

          <!-- render the text type for: name -->
          <%= partial('partials_markupText', {
            id: "data_collection_guy_name",
            placeholder: "Data Collection Guy",
            label: "Data Collection Guy",
            name: "data_collection_guy_name",
            value: restaurant ? restaurant.get('data_collection_guy_name') : "",
            required: false
          }) %>

          <!-- render the text type for: name -->
          <%= partial('partials_tinyowlRepresentative', {
            id: "tinyowl_representative",
            label: "Tinyowl Representative",
            name: "tinyowl_representative",
            value: restaurant ? restaurant.get('tinyowl_representative') : "",
            representatives: window.collections.bd_team,
            required: true
          }) %>

          <!-- render the text type for: name -->
          <%= partial('partials_markupText', {
            id: "name",
            placeholder: "Name of the Restaurant",
            label: "Name of the Restaurant",
            name: "name",
            value: restaurant ? restaurant.get('name') : "",
            required: true
          }) %>


          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="restaurant_type" class="col-md-4 col-xs-4 control-label">Restaurant Type</label>
            <div class="col-md-8 col-sm-8 col-xs-6">
            <select name="restaurant_type" class="form-inline-element input-sm" id="restaurant_type">
              <option value="-1" selected>none</option>
                <% _.each(window.collections.restaurant_type, function(i,restaurant_type) { %>
                  <option value="<%= i %>" <% if(restaurant.get("restaurant_type") == i){%><%="selected"%><%  } %> ><%= restaurant_type %></option>
                <% }) %>
            </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="city" class="col-md-4 col-xs-4 control-label">City</label>
            <div class="col-md-8 col-sm-8 col-xs-6">
            <select name="city" class="form-inline-element input-sm" id="city">
              <option value="" selected>none</option>
                <% _.each(window.collections.cities, function(city) { %>
                  <option value="<%= city %>" <% if(restaurant.get("city") == city){%><%="selected"%><%  } %> ><%= city %></option>
                <% }) %>
            </select>
            </div>
          </div>

          <hr>
          <%= partial('partials_markupNumber', {
            id: "no_of_owners",
            placeholder: "Total number of owners",
            label: "Total number of owners",
            name: "no_of_owners",
            value: restaurant ? restaurant.get('no_of_owners') : 0,
            required: false,
            pattern: "/^[0-9]*$/",
            min: "0"
          }) %>
          <%= partial('partials_markupNumber', {
            id: "no_of_managers",
            placeholder: "Total number of managers",
            label: "Total number of managers",
            name: "no_of_managers",
            value: restaurant ? restaurant.get('no_of_managers') : 0,
            required: false,
            min: "0"
          }) %>
          <%= partial('partials_markupNumber', {
            id: "no_of_general_managers",
            placeholder: "Total number of general managers",
            label: "Total number of general managers",
            name: "no_of_general_managers",
            value: restaurant ? restaurant.get('no_of_general_managers') : 0,
            required: false,
            min: "0"
          }) %>

          <hr>

          <!-- designation table -->
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-md-9 col-xs-9">
              <input type="hidden" name="rows" id="rows" value="<%= restaurant.get('contact_persons').length %>">
              <h4 class="to_center">Contact Persons </h4>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <button type="button" class="btn btn-info btn-sm add_new_dsgn pull-right"> <i class="fa fa-user"></i> Add  </button>
            </div>
          </div>
          <hr>
            <div class="contact_person">
              <% _.each(restaurant.get('contact_persons'), function(who, index) { %>
                <%= partial('partials_designation', {
                  index: index,
                  who: who,
                  designations: window.collections.designations,
                  contact_number_types: window.collections.contact_number_types,
                }) %>
              <% }); %>
            </div>
          <hr>

          <!-- Phone numbers for sms -->
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-md-9 col-xs-9">
              <input type="hidden" name="phone_numbers_for_sms_contact_numbers_count" value="<%= restaurant.get('phone_numbers_for_sms').length %>">
              <h4 class="to_center">Number  for sending order through  SMS 
              </h4>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <button type="button" class="btn btn-info btn-sm add_new_number_sms pull-right"><i class="fa fa-phone fa-lg"></i> Add </button>
            </div>
          </div>
          

          <hr>
          <div class="add_new_contact_number_sms">
          <% _.each(restaurant.get('phone_numbers_for_sms'), function(phone_number, i) { %>
            <%= partial('partials_contactNumber', {
                id: phone_number._id,
                markup_hidden_name: "phone_numbers_for_sms_contact_numbers_" + i + "_id",
                markup_hidden_index: "phone_numbers_for_sms_contact_numbers_" + i,
                markup_select_name: "phone_numbers_for_sms_contact_numbers_" + i + "_number_type",
                markup_input_name: "phone_numbers_for_sms_contact_numbers_" + i + "_number",
                markup_to_delete: "phone_numbers_for_sms_contact_numbers_" + i + "_delete",
                i: i,
                number: phone_number.number,
                contact_number_types: window.collections.contact_number_types,
                number_type: phone_number.number_type,
                sms:true,
                is_present_on_counter: phone_number.is_present_on_counter,
                is_smartphone: phone_number.is_smartphone,
                is_verified: phone_number.is_verified
              })
            %>
          <% }) %>
        </div>

          
          <hr>
          
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="email" class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">Email ID(s) for order forwarding</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="text" class="form-control input-sm" name="email" id="email" placeholder="Email..." value="<%=restaurant.get('email')%>" autocomplete="off"> 
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label for="orders_per_day" class="col-md-4 col-sm-4 col-xs-4 control-label label-sm">No. Of  Orders  Per day (Average)</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="number" class="form-control input-sm" name="orders_per_day" id="orders_per_day" placeholder="Orders per day" value="<%=restaurant.get('orders_per_day')%>" autocomplete="off"> 
            </div>
          </div>

          <hr>

          <!-- custom markup: since Jquery plugin breaks the partial -->
          <div class="form-group adjust-xs">
            <label for="closed_timing_ids" class="col-md-4 control-label">Closed Timings</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
            <select multiple name="closed_timing_ids" id="closed_timing_ids" class="default-select2">
            <% _.each(window.collections.closed_timings, function(timing) { %>
              <option <% if (check_element_exists(restaurant.get("closed_timing_ids"), timing[1])) { %>selected="selected"<% } %> value="<%= timing[1] %>"><%= timing[0] %></option>
            <% }) %>
            </select>
            </div>
          </div>
          <div class="form-group adjust-xs">
            <label for="delivery_boys_vehicle" class="col-md-4 control-label">Delivery  boys vehicle</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <select name="delivery_boys_vehicle" id="delivery_boys_vehicle" class="default-select2" multiple>
              <% _.each(window.collections.delivery_boys_vehicle, function(i,vehicle) { %>
                <option <% if (check_element_exists(restaurant.get("delivery_boys_vehicle"),i)) { %>selected="selected"<% } %> value="<%= i %>"><%= vehicle %></option>
              <% }) %>
              </select>
            </div>
          </div>
          <hr>
          <h2 class="to_center">Extra Charges</h2>
          <hr>
          <!-- render the text type for: packaging_charges -->
          <%= partial('partials_markupText', {
            id: "packaging_charges",
            placeholder: "Packaging Charges",
            label: "Packaging Charges (in Rs.)",
            name: "packaging_charges",
            value: restaurant.get('packaging_charges')?restaurant.get('packaging_charges'):"0",
            required: false
          }) %>

          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label class="col-md-4 col-sm-4 col-xs-3 control-label label-sm">Packaging Charges Type</label>

            <div class="col-md-8 col-sm-8 col-xs-8">
              <select name="packaging_charges_type" id="packaging_charges_type" class="form-inline-element input-sm">
                <% _.each(window.collections.packaging_charges_type, function(value, key) { %>
                  <option id="pack" value="<%= value %>" <% if (value == restaurant.get('packaging_charges_type')) { %> selected <% } %> ><%= key %></option>
                <% }); %>
              </select>
            </div>
          </div>

          <!-- render the text type for: service_tax -->
          <%= partial('partials_markupText', {
            id: "service_tax",
            placeholder: "Service Tax",
            label: "Service Tax (in %)",
            value: restaurant.get('service_tax')?restaurant.get('service_tax'):"0",
            name: "service_tax",
            required: false
          }) %>

          <!-- render the text type for: service_tax_percent_of_bill -->
          <%= partial('partials_markupText', {
            id: "service_tax_percent_of_bill",
            placeholder: "Service Tax On % of Bill",
            label: "Service Tax On % of Bill",
            value: restaurant.get('service_tax_percent_of_bill')?restaurant.get('service_tax_percent_of_bill'):"0",
            name: "service_tax_percent_of_bill",
            required: false
          }) %>

          <!-- render the text type for: service_tax_percent_of_bill -->
          <%= partial('partials_markupText', {
            id: "vat",
            placeholder: "Vat",
            label: "VAT (in %)",
            value: restaurant.get('vat')?restaurant.get('vat'):"0",
            name: "vat",
            required: false
          }) %>

          <!-- render the text type for: service_charges -->
          <%= partial('partials_markupText', {
            id: "service_charges",
            placeholder: "Service Charges",
            label: "Service Charges (in %)",
            value: restaurant.get('service_charges')?restaurant.get('service_charges'):"0",
            name: "service_charges",
            required: false
          }) %>

          <!-- render the text type for: commission charges for default -->
          <%= partial('partials_markupNumber', {
            id: "service_charges",
            placeholder: "Commission charges (default)",
            label: "Commission charges default (in %)",
            value: (restaurant.get('restaurant_commissions') && restaurant.get('restaurant_commissions')[0]) ? restaurant.get('restaurant_commissions')[0].commission : "0",
            name: "commission_charges_default",
            required: false,
            min: "0",
            step: "0.01"
          }) %>

         <!-- render the text type for: commission charges for dishes -->
          <%= partial('partials_markupNumber', {
            id: "service_charges",
            placeholder: "Commission charges (express)",
            label: "Commission charges express (in %)",
            value: (restaurant.get('restaurant_commissions') && restaurant.get('restaurant_commissions')[1]) ? restaurant.get('restaurant_commissions')[1].commission : "0",
            name: "commission_charges_express",
            required: false,
            min: "0",
            step: "0.01"
          }) %>

          <hr>
          <!-- Additional Information - Restaurants with same owner -->
          <div class="form-group">
            <div class="row">
              <div class="col-xs-1 visible-xs"></div>
              <div class="col-md-9 col-xs-9">
                <h4 class="to_center">Other Restaurants of the same owner/owners</h4>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
                <button type="button" class="btn btn-info btn-sm additional_info_add pull-right" data-info="restaurants_of_same_owner" data-placeholder="Restaurant name..."><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <br/>
            <div class="restaurants_of_same_owner">
            <% _.each(restaurant.get('restaurants_of_same_owner'), function (restaurant, i) { %>
              <%= partial('partials_additional_name_locality', {
                markup_row: 'restaurants_of_same_owner_' + i + '_row',
                markup_id: 'restaurants_of_same_owner_' + i + '_id',
                markup_to_delete: 'restaurants_of_same_owner_' + i + '_to_delete',
                markup_delete: 'restaurants_of_same_owner',
                markup_name: 'restaurants_of_same_owner_' + i + '_name',
                markup_locality: 'restaurants_of_same_owner_' + i + '_locality',
                markup_placeholder: 'Restaurant name...',
                i: i,
                id: restaurant.id,
                name: restaurant.name,
                locality: restaurant.locality
              }) %>
            <% }) %>
            </div>
            <input type="hidden" name="restaurants_of_same_owner_count" id="restaurants_of_same_owner_count" value="<%= restaurant.get('restaurants_of_same_owner').length %>">
          </div>

          <hr>

          <!-- Additional Information - Societies with most orders -->
          <div class="form-group">
            <div class="row">
              <div class="col-xs-1 visible-xs"></div>
              <div class="col-md-9 col-xs-9">
                <h4 class="to_center">Societies with most orders</h4>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
                <button type="button" class="btn btn-info btn-sm additional_info_add pull-right" data-info="societies_with_most_orders" data-placeholder="Society name..."><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <br/>
            <div class="societies_with_most_orders">
            <% _.each(restaurant.get('societies_with_most_orders'), function (restaurant, i) { %>
              <%= partial('partials_additional_name_locality', {
                markup_row: 'societies_with_most_orders_' + i + '_row',
                markup_id: 'societies_with_most_orders_' + i + '_id',
                markup_to_delete: 'societies_with_most_orders_' + i + '_to_delete',
                markup_delete: 'societies_with_most_orders',
                markup_name: 'societies_with_most_orders_' + i + '_name',
                markup_locality: 'societies_with_most_orders_' + i + '_locality',
                markup_placeholder: 'Society name...',
                i: i,
                id: restaurant.id,
                name: restaurant.name,
                locality: restaurant.locality
              }) %>
            <% }) %>
            </div>
            <input type="hidden" name="societies_with_most_orders_count" id="societies_with_most_orders_count" value="<%= restaurant.get('societies_with_most_orders').length %>">
          </div>

          <hr>

          <!-- Additional Information - Officies with most orders -->
          <div class="form-group">
            <div class="row">
              <div class="col-xs-1 visible-xs"></div>
              <div class="col-md-9 col-xs-9">
                <h4 class="to_center">Offices with most orders</h4>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
                <button type="button" class="btn btn-info btn-sm additional_info_add pull-right" data-info="officies_with_most_orders" data-placeholder="Office name..."><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <br/>
            <div class="officies_with_most_orders">
            <% _.each(restaurant.get('officies_with_most_orders'), function (restaurant, i) { %>
              <%= partial('partials_additional_name_locality', {
                markup_row: 'officies_with_most_orders_' + i + '_row',
                markup_id: 'officies_with_most_orders_' + i + '_id',
                markup_to_delete: 'officies_with_most_orders_' + i + '_to_delete',
                markup_delete: 'officies_with_most_orders',
                markup_name: 'officies_with_most_orders_' + i + '_name',
                markup_locality: 'officies_with_most_orders_' + i + '_locality',
                markup_placeholder: 'Office name...',
                i: i,
                id: restaurant.id,
                name: restaurant.name,
                locality: restaurant.locality
              }) %>
            <% }) %>
            </div>
            <input type="hidden" name="officies_with_most_orders_count" id="officies_with_most_orders_count" value="<%= restaurant.get('officies_with_most_orders').length %>">
          </div>

          <hr>

          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label class="col-sm-4 col-xs-4 control-label" for="has_delivery">Bill Attached ? </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="is_bill_attached" <% if(restaurant.get("is_bill_attached")){%> <%= "checked" %> <% } %> >                        
                    </label>
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-1 visible-xs"></div>
            <label class="col-sm-4 col-xs-4 control-label" for="has_delivery">Sodexo accepted in case of COD ? </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="is_sodexo_accepted" <% if(restaurant.get("is_sodexo_accepted")){%> <%= "checked" %> <% } %> >                        
                    </label>
                </div>
            </div>
          </div>

        <hr>

        <div class="submit_div">
          <input type="submit" class="btn btn-primary" value="Save Changes" id="save_changes">
        </div>

        </form>
      </div>
      </div>
    </div><!-- end well -->
  </div>

</div><!-- end row -->