<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <span class="text-info hidden-xs">#<%=restaurant.get("form_id")%></span>
        <%=get_status_span(restaurant.get("status"))%>
        <span>&nbsp;&nbsp;</span>
        <span class="lead"> <%=restaurant.get("name")%></span>
        <span>&nbsp;&nbsp;</span>
        <span> <i class="fa fa-map-marker" style="color:#fa8564"></i> <%=get_locality(restaurant.get("locality_id"))%></span>
        <span>&nbsp;&nbsp;<input type="hidden" id="current_status" value="<%=restaurant.get("status")%>"></span>
        <span>
          <a class="btn btn-primary btn-sm" href="#restaurants/<%= restaurant.id %>/profile"><i class="fa fa-edit"></i> Edit</a> 
          <a class="btn btn-primary btn-sm" href="/restaurant/crm/restaurants/<%= restaurant.id %>/menu_items" target="_blank"><i class="fa fa-list"></i> Menu</a>
          <a class="btn btn-primary btn-sm" href="/restaurant/crm/restaurants/<%= restaurant.id %>/menu_choices" target="_blank"><i class="fa fa-check-square-o"></i> Choices</a>
        </span>
        <span class="pull-right">
          <a class="btn btn-primary " href="#restaurants"><i class="fa fa-cutlery"></i> Restaurants</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
  <%= partial("partials_update_status",{
    restaurant_id: restaurant.get('id')
  }) %>
</div>
  <div class="col-sm-6" id="status_logs">                                                            
      
  </div>
</div>

<div class="modal fade" style="width: 500px; height: 300px; margin-left: 400px;" id="overrideModal" role="dialog" aria-labelledby="overrideModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>A Schdeuled Update already exists!</h4>
  </div>
  <div class="modal-body" style="background-color: rgb(250, 250, 250);">
    <h5 id="modal_content">Do you want to overwrite it?</h5>
    <hr/>
    <div>
      <input class="restaurant_id" type="hidden" value="">
      <button class="btn btn-success btn-sm override" data-override="true">Override</button>
      <button class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
            