<tr tabindex='1' data-id="<%=item.get('id')%>">
  <td class="col-lg-1"><%=item.get('name')%>  <i class='mark_icon fa fa-lg'></i>
  <br>
    <span class="small text-muted">Sizes: <%= item.get('sizes').join(',')%></span>
  </td>
  <td class="col-lg-1">
    <%= item.get('desc')%>
  </td>
  <td class="col-lg-1">
    <!-- <button class='js_edit'><i class="fa fa-copy "></i></button> -->
    <i title='Edit' alt='Edit' class="fa fa-edit fa-lg js_edit"></i>
    <i title='Copy' alt='Copy' class="fa fa-copy fa-lg js_copy"></i>
    <i title='Paste'alt='Paste' class="fa fa-paste fa-lg js_paste"></i>
    <!-- <button class='js_paste'>P</button> -->
  </td>
  <!-- for each tagtype -->
  <%_.each(tag_types,function(tag_type){%>
  <td class="col-lg-1">
    <%var selected_tags = _.intersection(item.get('tags'), tags.get(tag_type)) %>
    <ul class='tags-ul'>  
      <%_.each(selected_tags,function(tag){%>
      <li>
        <span title="Remove tag"><i class="tag-remove js_tag_remove fa fa-remove"></i><%=tag%></span>
      </li>
      <%})%>
    </ul>
  </td>
  <!--end of for  -->
  <%})%>
</tr>